<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medtrackerapp">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedTrackerApp">

        <!-- Set LoginActivity as the entry point of the app -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegistrationActivity accessible from LoginActivity if login fails -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />

        <!-- HomeActivity accessible after successful login -->
        <activity
            android:name=".HomeActivity"
            android:exported="true" />

        <!-- MedicationActivity for managing medications -->
        <activity
            android:name=".Medication.MedicationActivity"
            android:exported="true" />

        <receiver android:name=".Medication.ReminderReceiver"/>
        <receiver android:name=".Medication.NotificationActionReceiver" android:exported="true" />

        <activity
            android:name=".ProfileActivity"
            android:exported="true" />

        <activity
            android:name=".CalendarActivity"
            android:exported="true" />

        <activity
            android:name=".ReportsActivity"
            android:exported="true" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <!-- FileProvider Configuration -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>